<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xác Nhận OTP</title>
    <style th:text="${cssContent}"></style>

</head>
<body>
<div class="container">
    <div class="header">
        <h1>Xác Nhận Đăng Ký</h1>
    </div>
    <div class="body">
        <p>Chào <span th:text="${email}">[Người Dùng]</span>,</p>
        <p>Mã OTP của bạn để xác nhận đăng ký là:</p>
        <p class="otp-code" th:text="${otp}">123456</p>
        <p>Mã OTP chỉ có hiệu lực trong 5 phút. Vui lòng nhập mã này để hoàn tất quá trình đăng ký của bạn.</p>
    </div>
    <div class="footer">
        <p>Cảm ơn bạn,</p>
        <p>Đội Ngũ Hỗ Trợ của Công Ty</p>
        <p>Cần giúp đỡ? <a href="mailto:support@yourcompany.com">Liên hệ với đội hỗ trợ của chúng tôi</a></p>
    </div>
</div>
</body>
</html>
